.FlexContainer {
  display: flex;
}

.FlexChild {
  flex: 1;
  margin: 1em;
}

.FlexChild:first-child {
  margin-right: 100px;
}

.Calculations > p {
  text-decoration: underline;
}

.Inputs label > p {
  font-weight: bold;
  color: #708090;;
}

input {
  font-size: 2em;
}

h1 {
  padding-bottom: 0.75em;
}
